.red-dash {
    background-color: #ffabc3;
}

.red-point {
    background-color: #e63d64;
}

.red-point-color {
    color: #e63d64;
}

.yellow-point {
    background-color: #fbb809;
}

.yellow-point-color {
    color: #fbb809;
}

.green-point {
    background-color: #3db882;
}

.green-point-color {
    color: #3db882;
}